.container {
  .header {
    position: relative;
    width: 100%;
    height: 700px;

    @media (min-width: 1300px) {
      height: 963px;
    }

    .video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .video-layer {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    
    .header-contents {
      position: absolute;
      width: 100%;
      max-width: 390px;
      padding: 0 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;

      @media (min-width: 1300px) {
        max-width: 995px;
        padding: 0;
      }

      .second-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;

        .second-row-left {
          flex-grow: 1;

          @media (min-width: 1300px) {
            flex-grow: 0;
          }
        }

        .second-row-right {
          flex-grow: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          @media (min-width: 1300px) {
            flex-grow: 0;
          }

          .brim-typo {
            width: 146px;
            height: 45px;
            margin-right: 14px;

            @media (min-width: 1300px) {
              width: 282px;
              height: 86px;
              margin-right: 28px;
            }
          }
        }
      }
    }
  }

  .body1 {
    position: relative;
    width: 100%;
    max-width: 390px;
    height: auto;
    margin: 0 auto;

    @media (min-width: 1300px) {
      max-width: none;
    }

    .destop-map {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 1204px;
      overflow: hidden;
    }

    .mobile-map {
      z-index: -1;
      object-fit: cover;
    }

    .body1-contents {
      width: 100%;
      max-width: 390px;
      padding: 50px 20px;
      margin: 0 auto;

      @media (min-width: 1300px) {
        max-width: 1140px;
        padding: 160px 0 463px;
      }

      & .upward {
        height: auto;
        margin-bottom: 138px;

        @media (min-width: 1300px) {
          margin-bottom: 80px;
        }

        .description {
          margin: 24px 0;

          @media (min-width: 1300px) {
            margin: 40px 0;
          }
        }

        .link {
          & .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      & .downward {
        .summary-ul {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 54px 0;

          @media (min-width: 1300px) {
            gap: 0;
          }

          & .summary-li {
            width: calc(100%/2);
            

            @media (min-width: 1300px) {
              flex: auto;
              width: auto;
            }

            & .summary-first-line {
              display: flex;
              justify-content: center;
              align-items: baseline;
            }
          }

          & .summary-li:nth-child(2n-1) {
            border-right: 1px solid theme('colors.grey.200');
          }

          & .summary-li:nth-child(2) {
            @media (min-width: 1300px) {
              border-right: 1px solid theme('colors.grey.200');
            }
          }
        }
      }
    }
  }

  .body2 {
    width: 100%;
    height: auto;
    max-width: 390px;
    padding: 20px 20px 0;
    margin: 0 auto;

    @media (min-width: 1300px) {
      max-width: 100%;
      height: 772px;
      padding: 16px;
    }
  }

  .footer {
  }
}