.container {
  .header {
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1300px) {
      height: 1080px;
    }

    .background {
      z-index: -1;
      object-fit: cover;
    }

    .content {
      width: 100%;
      max-width: 390px;
      margin: 0 auto;
      margin-bottom: 40px;
      padding: 0 20px;

      @media (min-width: 1300px) {
        max-width: 1140px;
        padding: 0;
      }

      .explain-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;

        @media (min-width: 1300px) {
          margin-top: 40px;
          gap: 32px;
        }
      }
    }
  }

  .footer {
    .ul {
      margin: 0 auto;
      padding: 50px 20px;
      max-width: 390px;
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media (min-width: 1300px) {
        max-width: 1140px;
        padding: 172px 0 91px 0;
        gap: 100px;
      }

      .li {
        width: 100%;

        @media (min-width: 1300px) {
          width: calc(1140px + (100vw - 1140px)/2);
        }
        
        .footer-image-wrapper{
          position: relative;
          width: 100%;
          height: 160px;
          margin-top: 8px;

          @media (min-width: 1300px) {
            height: 370px;
            margin-top: 30px;
          }
          
          .footer-images {
            object-fit: cover;
          }
        }
      }
    }
  }
}