.container {
  width: 24px;
  height: 24px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked {
  background-color: theme('colors.green.1');
}

.unchecked {
  background-color: theme('colors.grey.200');
}