.container {
  width: 100%;
  min-height: 121px;
  background-color: theme('colors.grey.50');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 8px;

  @media (min-width: 1300px) {
    min-height: 184px;
    padding: 24px 16px;
  }

  .description {
    display: flex;
    align-items: center;
  }
}