.header {
  position: relative;
  border-bottom: 1px solid theme('colors.grey.200');
  height: var(--header-height);
  padding-top: 16px;
  padding-bottom: 20px;

  .container {
    height: 100%;
    max-width: 1144px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 80px;

      .menus {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-btn {
          .menu {
            padding: 14px 24px;
            cursor: pointer;
          }
        }
      }

      .language {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 13px;

        & .arrow {
          transition: transform 0.2s;
        }

        & .arrow-open {
          transform: rotate(-180deg);
        }

        & .dropdown-menus {
          position: absolute;
          top: 110%;
          right: -30%;
          background-color: theme('colors.grey.50');
          z-index: 10;

          & .dropdown-menu {
            width: 80px;
            padding: 10px 20px;
            margin-bottom: 2px;
          }

          & .dropdown-menu:hover {
            background-color: theme('colors.grey.200');
            margin-bottom: 2px;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .layer {
    position: absolute;
    top: calc(100% + 1px);
    z-index: 5;
    width: 100%;
    background-color: theme('colors.white');
    border-bottom: 1px solid theme('colors.grey.200');

    .layer-menu-container {
      max-width: 1144px;
      margin: 0 auto;
      padding: 24px 123px 24px 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2px;

      .layer-menu {
        padding: 14px 24px;
      }
    }
  }
}