.container {
  width: 100%;
  background-color: theme('colors.grey.50');
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    @media (min-width: 1300px) {
      padding: 40px;
    }

    .title-container {
      display: flex;
      align-items: center;
      gap: 8px;

      @media (min-width: 1300px) {
        gap:30px;
      }

      .download-btn {
        background-color: theme('colors.green.3');
        border-radius: 8px;
        padding: 9px 16px;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .btn {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      @media (min-width: 1300px) {
        width: 52px;
        height: 52px;
      }

      .icon {
        width: 17px;
        height: 17px;

        @media (min-width: 1300px) {
          width: 36px;
          height: 36px;
        }
      }
    }
    
    .open-btn {
      background-color: theme('colors.white');
    }

    .close-btn {
      background-color: theme('colors.green.1');
    }
  }

  .body {
    background-color: theme('colors.green.2');
    padding: 12px;

    @media (min-width: 1300px) {
      padding: 40px;
    }
  }
}

.opened {
  background-color: theme('colors.green.1');
}